<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"-->
<!--          crossorigin="anonymous" >-->
<!--<meta charset="utf-8">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-inverse" >
<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">SURESHEXAM</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/python/">Python Exams</a></li>
        <li><a href="/java/">Java Exams</a></li>
        <li><a href="/c/">C Exams</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup">Signup</a></li>
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
    </ul>

</div>
</nav>
{%block body_block%}
{%endblock%}
</body>
</html>
